body {
	color: rgb(2, 2, 2);
	background-color: #FAFAFA;
	font-family: 'Fira Sans', Verdana, sans-serif, Arial, Helvetica;
	line-height: 1.5;
	max-width: 40rem;
	padding: 2rem;
	margin: auto;
	font-size: 16px;
}


.textbox {
	font-size: 16px;
	padding: 5px;
}

.next-button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.next-button {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.next-button:hover {
	background-color: #4CAF50;
	color: white;
}

 /* Style the tab */
 .tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
  } 